body {
  font-family: "Josefin Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700; }

header.masthead,
section.masthead-logistic,
section.masthead-smart {
  position: relative;
  background-color: #343a40;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  header.masthead .overlay,
  section.masthead-logistic .overlay,
  section.masthead-smart .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5; }
  @media (min-width: 768px) {
    header.masthead,
    section.masthead-logistic,
    section.masthead-smart {
      padding-top: 8rem;
      padding-bottom: 8rem; } }

header.masthead {
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

section.masthead-logistic {
  background: url("../img/bg-masthead-logistic.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

section.masthead-smart {
  background: url("../img/bg-masthead-communities.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

section.masthead-benefits {
  background: url("../img/bg-showcase-2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  section.masthead-benefits .overlay-smart {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  section.masthead-benefits h1 {
    font-size: 5rem; }
  @media (min-width: 768px) {
    section.masthead-benefits h1 {
      font-size: 3rem; } }

.Hero__Titles {
  color: #fff;
  font-weight: 500;
  margin: 15px 0 8px; }

.Hero__Company {
  font-size: 1rem; }

.Hero__Software {
  font-size: 2rem; }

.Hero__Description {
  font-size: 1.1rem;
  font-weight: 300; }

.Hero__Span {
  background-color: white;
  width: 40px;
  height: 5px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0; }

@media screen and (min-width: 776px) {
  .Hero__Titles {
    margin-top: 22px;
    margin-bottom: 8px; }
  .Hero__Company {
    font-size: 1.4rem; }
  .Hero__Software {
    font-size: 2.4rem; }
  .Hero__Description {
    font-size: 1.2rem;
    font-weight: 300; } }

.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .features-icons .features-icons-item {
    max-width: 20rem; }
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
      .features-icons .features-icons-item .features-icons-icon .icon-check {
        font-size: 2.5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon .icon-check {
      font-size: 3rem; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .testimonials .testimonial-item {
    max-width: 18rem; }
    .testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }

.form-start {
  text-align: center; }

.form-input {
  width: 80%;
  font-weight: 400;
  border: solid 1px white;
  border-radius: 100px;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 10px;
  width: 75%;
  color: white; }

.form-input-message {
  border-radius: 20px;
  color: white; }

.form__btn {
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  border: solid 1px white;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  color: white; }

footer.footer {
  padding-top: 3rem;
  padding-bottom: 3rem; }
