header.masthead,
section.masthead-logistic,
section.masthead-smart {
	position: relative;
	background-color: $gray-800;
	padding-top: 6rem;
	padding-bottom: 6rem;
	.overlay {
		position: absolute;
		background-color: $gray-900;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
	}

	@media (min-width: 768px) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}

header.masthead {
	background: url("../img/bg-masthead.jpg") no-repeat center center;
	@include background-cover;
}
section.masthead-logistic {
	background: url("../img/bg-masthead-logistic.jpg") no-repeat center center;
	@include background-cover;
}
section.masthead-smart {
	background: url("../img/bg-masthead-communities.jpg") no-repeat center center;
	@include background-cover;
}
section.masthead-benefits {
	background: url("../img/bg-showcase-2.jpg") no-repeat center center;
	@include background-cover;
	padding-top: 4rem;
	padding-bottom: 4rem;
	.overlay-smart {
		position: absolute;
		background-color: $gray-900;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: 0.3;
	}
	h1 {
		font-size: 5rem;
	}

	@media (min-width: 768px) {
		h1 {
			font-size: 3rem;
		}
	}
}
